{% extends "base.html" %}
{% load static %}
{% block active %}    
<div class="collapse navbar-collapse navbar-dropdown" id="myNavbar">
  <ul class="nav navbar-nav">
    <li><a href="{% url 'home' %}">Home</a></li>
    <li><a href="{% url 'career' %}">Career</a></li>
    <li class="active"><a href="{% url 'hobbies' %}">Hobbies</a></li>
    <li><a href="{% url 'contact' %}">Contact</a></li>
    <li><a href="{% url 'login' %}">Login</a></li>
  </ul>
</div>
{% endblock %}


{% block content %}
<div class="container-fluid content floating-box">
  <img class="logo_inv_2" src="{% static "assets/jc_logo_inv.png"%}" alt="Inv Logo">
    <h4 class="centered-text wave-text">"I've never been a collector of cars. <br> I've always been a builder of cars." - Caroll Shelby</h4>
      
    <div style="padding-bottom: 10px;">
        <ul class="nav-links centered-text">
          <li><a href="{% url 'hunting' %}">Hunting</a></li>
          <li><a href="{% url 'fishing' %}">Fishing</a></li>
          <li><a style="color: white;" href="{% url 'automotive' %}">Automotive</a></li>
          <li><a href="{% url 'electronics' %}">Electronics</a></li>
          <li><a href="{% url 'photography' %}">Photography</a></li>
          <li><a href="{% url 'volunteer' %}">Volunteer</a></li>
        </ul>
      </div>
<br>
      <p class="centered-text">I like to drive. :P</p>
<br>
      <div class="image-container">
        <img class="tiltImage limg" src="{% static "assets/automotive/mustang_sand.jpg"%}" alt="hunt1">
        <img class="tiltImage rimg" src="{% static "assets/automotive/mustang_engine.jpg"%}" alt="hunt2">        
      </div>
      <div class="image-container">
        <img class="tiltImage limg" src="{% static "assets/automotive/gmc.jpg"%}" alt="hunt1">
        <img class="tiltImage rimg" src="{% static "assets/automotive/f150.jpg"%}" alt="hunt2">        
      </div>
      <br>
      <p class="centered-text"><a href="{% url 'automotive' %}">Top of Page</a></p>
    
</div>

<script>
  window.onload = function() {
    var images = document.getElementsByClassName('tiltImage');

    for (var i = 0; i < images.length; i++) {
        images[i].addEventListener('mousemove', function(e) {
            const { offsetWidth: width, offsetHeight: height } = this;
            const { offsetX: mouseX, offsetY: mouseY } = e;
            const xTilt = (mouseX / width - 0.5) * 10;
            const yTilt = (mouseY / height - 0.5) * 10;

            this.style.transform = `rotateX(${yTilt}deg) rotateY(${xTilt}deg)`;
        });

        images[i].addEventListener('mouseleave', function(e) {
            this.style.transform = '';
        });
    }
  }
</script>
{% endblock %}