{% extends "base.html" %}
{% load static %}

{% block active %}    
<div class="collapse navbar-collapse navbar-dropdown" id="myNavbar">
  <ul class="nav navbar-nav">
    <li><a href="{% url 'home' %}">Home</a></li>
    <li class="active"><a href="{% url 'career' %}">Career</a></li>
    <li><a href="{% url 'hobbies' %}">Hobbies</a></li>
    <li><a href="{% url 'contact' %}">Contact</a></li>
    <li><a href="{% url 'login' %}">Login</a></li>
  </ul>
</div>
{% endblock %}


{% block content %}
<div class="container-fluid content floating-box">
  <img class="logo_inv_2" src="{% static "assets/jc_logo_inv.png"%}" alt="Inv Logo">
    <h4 class="centered-text">"There is no substitute for hard work."<br> - Thomas A. Edison</h4>
    <div style="padding-bottom: 10px;">
      <ul class="nav-links centered-text">
        <li><a href="{% url 'stiles' %}">Stiles Machinery</a></li>
        <li><a href="{% url 'classy' %}">Classy Closets</a></li>
        <li><a href="{% url 'five_star' %}">Five Star Golf</a></li>
        <li><a href="{% url 'mfg' %}">4J Manufacturing</a></li>
        <li><a href="{% url 'education' %}">Education</a></li>
      </ul>
    </div>
    <div style="padding-top: 6%;">
    <p class="centered-text">2022 - Present: Field Service Representative - Stiles Machinery</p>
    <p class="centered-text">2014 - 2022: Manager - Classy Closets</p>
    <p class="centered-text">2013 - 2014: Logistics Engineer - Five Star Golf</p>
    <p class="centered-text">2011 - 2013: Shop Foreman - 4J Manufacturing</p>
    
  </div> 
      
      
      
      
</div>
{% endblock %}