{% extends "base.html" %}
{% load static %}
{% block active %}    
<div class="collapse navbar-collapse navbar-dropdown" id="myNavbar">
  <ul class="nav navbar-nav">
    <li><a href="{% url 'home' %}">Home</a></li>
    <li class="active"><a href="{% url 'career' %}">Career</a></li>
    <li><a href="{% url 'hobbies' %}">Hobbies</a></li>
    <li><a href="{% url 'contact' %}">Contact</a></li>
    <li><a href="{% url 'login' %}">Login</a></li>
  </ul>
</div>
{% endblock %}


{% block content %}
<div class="container-fluid content floating-box">
  <img class="logo_inv_2" src="{% static "assets/jc_logo_inv.png"%}" alt="Inv Logo">
    <h3 class="centered-text">"Life Organized"<br> - Classy Closets</h3>
      
    <div style="padding-bottom: 10px;">
        <ul class="nav-links centered-text">
          <li><a href="{% url 'stiles' %}">Stiles Machinery</a></li>
          <li><a style="color: white;" href="{% url 'classy' %}">Classy Closets</a></li>
          <li><a href="{% url 'five_star' %}">Five Star Golf</a></li>
          <li><a href="{% url 'mfg' %}">4J Manufacturing</a></li>
          <li><a href="{% url 'education' %}">Education</a></li>
        </ul>
      </div>

    <h1>Classy Closets</h1>
    <p class="centered-text">2014 - 2022: Manager - Classy Closets</p>
    <p class="centered-text">2022: Engineered an Enterprise Resource Planning(ERP) software
    with Python, Django, and AWS - Classy Closets</p>
    <p class="centered-text">2021: Wrote Python scripts to automate manufacturing - Classy Closets</p>
    <p class="centered-text">2015 - 2020: Engineered manafacturing process and
    standard operating procedures - Classy Closets</p>
    <p class="centered-text">2014 - 2015: Constructed custom cabinetry - Classy Closets</p>

    <div class="image-container">
      <img class="limg" src="{% static "assets/classy/Mitchell_Office.jpg"%}" alt="Office Picture">
        <img class="rimg" src="{% static "assets/classy/Ernst_Master2.jpg"%}" alt="Closet Picture">
        
    </div>
    <div class="image-container">
      <img class="limg" src="{% static "assets/classy/Thomas_Master2.jpg"%}" alt="Closet Picture">
      <img class="rimg" src="{% static "assets/classy/Wallbed_Display.jpg"%}" alt="Office Picture">
  </div>
    
    
</div>
{% endblock %}