{% extends "base.html" %}
{% load static %}

{% block active %}

<div class="collapse navbar-collapse navbar-dropdown" id="myNavbar">
  <ul class="nav navbar-nav">
    <li><a href="{% url 'home' %}">Home</a></li>
    <li class="active"><a href="{% url 'career' %}">Career</a></li>
    <li><a href="{% url 'hobbies' %}">Hobbies</a></li>
    <li><a href="{% url 'contact' %}">Contact</a></li>
    <li><a href="{% url 'login' %}">Login</a></li>
  </ul>
</div>

{% endblock %}


{% block content %}

<div class="container-fluid content floating-box">
  <img class="logo_inv_2" src="{% static "assets/jc_logo_inv.png"%}" alt="Inv Logo">
  <h4 class="centered-text wave-text">"Life Organized"<br> - Classy Closets</h4>      
    
  <div style="padding-bottom: 25px;">
    <ul class="nav-links centered-text">
      <li><a href="{% url 'stiles' %}">Stiles Machinery</a></li>
      <li><a style="color: white;" href="{% url 'classy' %}">Classy Closets</a></li>
      <li><a href="{% url 'five_star' %}">Five Star Golf</a></li>
      <li><a href="{% url 'mfg' %}">4J Manufacturing</a></li>
      <li><a href="{% url 'education' %}">Education</a></li>
    </ul>
  </div>


  <p class="centered-text"><u>2014 - 2022: Manager - Classy Closets</u></p>
  <p class="centered-text">In 2014 I started as an installer, installing a variety of custom cabinets.</p>
  <p class="centered-text">Worked on residential and commercial projects.</p>
  <p class="centered-text">In 2015 I engineered a full production line and became the primary operator for all manufacturing.</p>
  <p class="centered-text">Served on the design team and engineered project blueprints to customer specifications.</p>
  <p class="centered-text">Created standard production procedures and maintenance guidelines.</p>
  <p class="centered-text">Started training other machine operators on our process and increased efficiencies.</p>
  <p class="centered-text">In 2018 I developed the company IT strategy and integrated the network of computers and machinery.</p>
  <p class="centered-text">Was the admin of the Ubiquiti network and Microsoft cloud systems.</p>
  <p class="centered-text">In 2020 I took the time to teach myself Python and other computer skills to utilize in manufacturing.</p>
  <p class="centered-text">Created an inventory barcode system, and program for production engineering using Python.</p>
  <p class="centered-text">Architected and engineered an Enterprise Resource Planner(ERP) using Django, Python, and AWS.</p>
  <p class="centered-text">Troubleshot problems and maximed effeciency and scalability of ERP server.</p>
  <br>
  <div class="image-container">
    <img class="limg tiltImage" src="{% static "assets/classy/Mitchell_Office.jpg"%}" alt="Office Picture">
    <img class="rimg tiltImage" src="{% static "assets/classy/Ernst_Master2.jpg"%}" alt="Closet Picture">        
  </div>
  <div class="image-container">
    <img class="limg tiltImage" src="{% static "assets/classy/Thomas_Master2.jpg"%}" alt="Closet Picture">
    <img class="rimg tiltImage" src="{% static "assets/classy/Wallbed_Display.jpg"%}" alt="Office Picture">
  </div>
  <div class="image-container">
    <img class="limg tiltImage" src="{% static "assets/classy/ambitions.jpg"%}" alt="Closet Picture">
    <img class="rimg tiltImage" src="{% static "assets/classy/ambitions_bhx.jpg"%}" alt="Office Picture">
  </div>
  <div class="image-container">
    <img class="limg tiltImage" src="{% static "assets/classy/sawteq.jpg"%}" alt="Closet Picture">
    <img class="rimg tiltImage" src="{% static "assets/classy/paint_room.jpg"%}" alt="Office Picture">
  </div>

  <br>

  <p class="centered-text"><a href="{% url 'classy' %}">Top of Page</a></p>
    
</div>

<script>
  window.onload = function() {
    var images = document.getElementsByClassName('tiltImage');

    for (var i = 0; i < images.length; i++) {
        images[i].addEventListener('mousemove', function(e) {
            const { offsetWidth: width, offsetHeight: height } = this;
            const { offsetX: mouseX, offsetY: mouseY } = e;
            const xTilt = (mouseX / width - 0.5) * 10;
            const yTilt = (mouseY / height - 0.5) * 10;

            this.style.transform = `rotateX(${yTilt}deg) rotateY(${xTilt}deg)`;
        });

        images[i].addEventListener('mouseleave', function(e) {
            this.style.transform = '';
        });
    }
  }
</script>

{% endblock %}