{% extends "base.html" %}
{% load static %}
{% block active %}    
<div class="collapse navbar-collapse navbar-dropdown" id="myNavbar">
  <ul class="nav navbar-nav">
    <li><a href="{% url 'home' %}">Home</a></li>
    <li><a href="{% url 'career' %}">Career</a></li>
    <li class="active"><a href="{% url 'hobbies' %}">Hobbies</a></li>
    <li><a href="{% url 'contact' %}">Contact</a></li>
    <li><a href="{% url 'login' %}">Login</a></li>
  </ul>
</div>
{% endblock %}


{% block content %}
<div class="container-fluid content floating-box">
  <img class="logo_inv_2" src="{% static "assets/jc_logo_inv.png"%}" alt="Inv Logo">
    <h3 class="centered-text">"If people concentrated on the really important things in life, <br> there'd be a shortage of fishing poles." - Bill Dance</h3>
      
    <div style="padding-bottom: 10px;">
        <ul class="nav-links centered-text">
          <li><a href="{% url 'hunting' %}">Hunting</a></li>
          <li><a style="color: white;" href="{% url 'fishing' %}">Fishing</a></li>
          <li><a href="{% url 'automotive' %}">Automotive</a></li>
          <li><a href="{% url 'electronics' %}">Electronics</a></li>
          <li><a href="{% url 'photography' %}">Photography</a></li>
          <li><a href="{% url 'volunteer' %}">Volunteer</a></li>
        </ul>
      </div>

    <h1>Fishing!</h1>
      <p class="centered-text">I grew up freshwater fishing for largemouth bass, crappie, and catfish.</p>
      <p class="centered-text">Saltwater offhsore, flyfishing, and bowfishing are very enjoyable as well!</p>
      <div class="image-container">
        <img class="limg" src="{% static "assets/fishing/colorado.jpg"%}" alt="fish1">
        <img class="rimg" src="{% static "assets/fishing/lake1.jpg"%}" alt="fish2">        
      </div>
      <div class="image-container">
        <img class="limg" src="{% static "assets/fishing/bird.jpg"%}" alt="fish3">
        <img class="rimg" src="{% static "assets/fishing/lake2.jpg"%}" alt="fish4">        
      </div>
    
    
</div>
{% endblock %}