{% extends "base.html" %}
{% load static %}
{% block active %}    
<div class="collapse navbar-collapse navbar-dropdown" id="myNavbar">
  <ul class="nav navbar-nav">
    <li><a href="{% url 'home' %}">Home</a></li>
    <li><a href="{% url 'career' %}">Career</a></li>
    <li class="active"><a href="{% url 'hobbies' %}">Hobbies</a></li>
    <li><a href="{% url 'contact' %}">Contact</a></li>
    <li><a href="{% url 'login' %}">Login</a></li>
  </ul>
</div>
{% endblock %}


{% block content %}
<div class="container-fluid content floating-box">
  <img class="logo_inv_2" src="{% static "assets/jc_logo_inv.png"%}" alt="Inv Logo">
    <h4 class="centered-text wave-text">"Now then, get your quiver and bow and go out to the open country
    <br> to hunt some wild game for me." - Genesis 27:3</h4>
      
    <div style="padding-bottom: 25px;">
        <ul class="nav-links centered-text">
          <li><a style="color: white;" href="{% url 'hunting' %}">Hunting</a></li>
          <li><a href="{% url 'fishing' %}">Fishing</a></li>
          <li><a href="{% url 'automotive' %}">Automotive</a></li>
          <li><a href="{% url 'electronics' %}">Electronics</a></li>
          <li><a href="{% url 'photography' %}">Photography</a></li>
          <li><a href="{% url 'volunteer' %}">Volunteer</a></li>
        </ul>
      </div>
      
      <p class="centered-text">Whitetail deer, ducks, and predators are my specialty.</p>
      <p class="centered-text">Firearms and archery mastery enthusiast.</p>
      <br>
      
      <div class="image-container">
        <img class="tiltImage limg" src="{% static "assets/hunting/land1.jpg"%}" alt="hunt1">
        <img class="tiltImage rimg" src="{% static "assets/hunting/land2.jpg"%}" alt="hunt2">        
      </div>
      <div class="image-container">
        <img class="tiltImage limg" src="{% static "assets/hunting/field.jpg"%}" alt="hunt1">
        <img class="tiltImage rimg" src="{% static "assets/hunting/indy.jpg"%}" alt="hunt2">        
      </div>
      <div class="image-container">
        <img class="tiltImage limg" src="{% static "assets/hunting/doves.jpg"%}" alt="hunt3">
        <img class="tiltImage rimg" src="{% static "assets/hunting/ducks.jpg"%}" alt="hunt4">        
      </div>
      <br>
      <p class="centered-text"><a href="{% url 'hunting' %}">Top of Page</a></p>
    
</div>

<script>
  window.onload = function() {
    var images = document.getElementsByClassName('tiltImage');

    for (var i = 0; i < images.length; i++) {
        images[i].addEventListener('mousemove', function(e) {
            const { offsetWidth: width, offsetHeight: height } = this;
            const { offsetX: mouseX, offsetY: mouseY } = e;
            const xTilt = (mouseX / width - 0.5) * 10;
            const yTilt = (mouseY / height - 0.5) * 10;

            this.style.transform = `rotateX(${yTilt}deg) rotateY(${xTilt}deg)`;
        });

        images[i].addEventListener('mouseleave', function(e) {
            this.style.transform = '';
        });
    }
  }
</script>
{% endblock %}