{% extends "base.html" %}
{% load static %}

{% block active %}    
<div class="collapse navbar-collapse navbar-dropdown" id="myNavbar">
  <ul class="nav navbar-nav">
    <li class="active"><a href="{% url 'home' %}">Home</a></li>
    <li><a href="{% url 'career' %}">Career</a></li>
    <li><a href="{% url 'hobbies' %}">Hobbies</a></li>
    <li><a href="{% url 'contact' %}">Contact</a></li>
    <li><a href="{% url 'login' %}">Login</a></li>
  </ul>
</div>
{% endblock %}

{% block content %}



<div class="container-fluid content floating-box">
  <img class="logo_inv_1" src="{% static "assets/jc_logo_inv.png"%}" alt="Inv Logo">
    <h1 class="centered-text">Hello Jerred!</h1>
    <p class="centered-text">This is my base landing page to direct you to the other cool stuff this site has to offer.</p>
    <p class="centered-text">This site is under construction and will be going through many development changes and hopefully nothing breaks.</p>
    <p class="centered-text">I'm a resourceful engineer with 10+ years of experience in
                              setting and coordinating project objectives.
                              Looking to collaborate with a creative team to
                              explore innovative solutions that will shape the future.
                              I grew up homeschooled and graduated highschool with
                              attending 3 years of engineering at the
                              Advanced Technology Complex.
                              From my early career I learned how to manage people
                              and how to be a good leader.
                              I've been a contributing team player and learned skills
                              like construction, problem solving, computer science, automation,
                              software development, robotics, data engineering and analysis,
                              and have had extensive experience with design. </p>
</div>






{% endblock %}
