{% extends "base.html" %}
{% load static %}
{% block active %}    
<div class="collapse navbar-collapse navbar-dropdown" id="myNavbar">
  <ul class="nav navbar-nav">
    <li><a href="{% url 'home' %}">Home</a></li>
    <li><a href="{% url 'career' %}">Career</a></li>
    <li class="active"><a href="{% url 'hobbies' %}">Hobbies</a></li>
    <li><a href="{% url 'contact' %}">Contact</a></li>
    <li><a href="{% url 'login' %}">Login</a></li>
  </ul>
</div>
{% endblock %}


{% block content %}
<div class="container-fluid content floating-box">
  <img class="logo_inv_2" src="{% static "assets/jc_logo_inv.png"%}" alt="Inv Logo">
    <h4 class="centered-text wave-text">"Photography is the only language that <br> can be understood anywhere in the world." - Bruno Barbey</h4>
      
    <div style="padding-bottom: 10px;">
        <ul class="nav-links centered-text">
          <li><a href="{% url 'hunting' %}">Hunting</a></li>
          <li><a href="{% url 'fishing' %}">Fishing</a></li>
          <li><a href="{% url 'automotive' %}">Automotive</a></li>
          <li><a href="{% url 'electronics' %}">Electronics</a></li>
          <li><a style="color: white;" href="{% url 'photography' %}">Photography</a></li>
          <li><a href="{% url 'volunteer' %}">Volunteer</a></li>
        </ul>
      </div>

    <h1>Photography!</h1>
      <p class="centered-text">I like to shoot pics. :P</p>
    
    
</div>
{% endblock %}