{% extends "base.html" %}
{% load static %}
{% block active %}    
<div class="collapse navbar-collapse navbar-dropdown" id="myNavbar">
  <ul class="nav navbar-nav">
    <li><a href="{% url 'home' %}">Home</a></li>
    <li class="active"><a href="{% url 'career' %}">Career</a></li>
    <li><a href="{% url 'hobbies' %}">Hobbies</a></li>
    <li><a href="{% url 'contact' %}">Contact</a></li>
    <li><a href="{% url 'login' %}">Login</a></li>
  </ul>
</div>
{% endblock %}


{% block content %}
<div class="container-fluid content floating-box">
  <img class="logo_inv_2" src="{% static "assets/jc_logo_inv.png"%}" alt="Inv Logo">
    <h4 class="centered-text">"We are a network of passionate and experienced professionals<br>dedicated to the advancement of manufacturers everywhere." - Stiles Machinery</h4>
      
    <div style="padding-bottom: 25px;">
        <ul class="nav-links centered-text">
          <li><a style="color: white;" href="{% url 'stiles' %}">Stiles Machinery</a></li>
          <li><a href="{% url 'classy' %}">Classy Closets</a></li>
          <li><a href="{% url 'five_star' %}">Five Star Golf</a></li>
          <li><a href="{% url 'mfg' %}">4J Manufacturing</a></li>
          <li><a href="{% url 'education' %}">Education</a></li>
        </ul>
      </div>

    <p style="" class="centered-text"><u>2022: Field Service Representative - Stiles Machinery</u></p>
    <p class="centered-text">Started training to be an edgebander specialist.</p>
    <p class="centered-text">In early 2023 I started traveling more and troubleshooting machines around the country.</p>
    <p class="centered-text">I troubleshot mechanical, pneumatic, electrical and software issues.</p>
    <p class="centered-text">Got hands on experience with 480v 3 phase, 24v DC, and electrical cabinet systems.</p>
    <p class="centered-text">Trained for TLF Storeteq machines that prioritize inventory control for customers.</p>
    <p class="centered-text">Installed edgebanders(straight line and contour), CNC Centateq N-700, and TLF Storeteq.</p>
      <br>
    <div class="image-container">
      <img class="limg" src="{% static "assets/stiles/tlf.jpg"%}" alt="stiles1">
        <img class="rimg" src="{% static "assets/stiles/n700.jpg"%}" alt="stiles2">
        
    </div>
    <div class="image-container">
      <img class="limg" src="{% static "assets/stiles/vector.jpg"%}" alt="stiles3">
      <img class="rimg" src="{% static "assets/stiles/vector2.jpg"%}" alt="stiles4">
  </div>
  <div class="image-container">
    <img class="limg" src="{% static "assets/stiles/yaskawa.jpg"%}" alt="stiles5">
    <img class="rimg" src="{% static "assets/stiles/yaskawa2.jpg"%}" alt="stiles6">
</div>
<br>
<p class="centered-text"><a href="{% url 'stiles' %}">Top of Page</a></p>
    
</div>
{% endblock %}